*~
*.bak
*.swp
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
libtool
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
stamp-h1
!build-aux/gen-authors.sh
*/build-aux/*
m4/*
*/m4/*
!m4/gnulib-cache.m4
!*/m4/gnulib-cache.m4
!m4/ax_with_prog.m4
!m4/oml_distribution_is.m4
!m4/oml_git_search_treeish.m4
!collectd/m4/ax_compare_version.m4
gnulib/
*/gnulib/
*.o
*.lo
*.la
*.deps
*.libs
build-aux/*
*_oml.h
*_popt.h
.version
*-oml2
p-*
